.calendars-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-wrapper {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 350px;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile {
  padding: 0.75em 0.5em;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--non-active {
  background: none !important;
  color: inherit !important;
}

.react-calendar__tile.streak-day {
  background-color: #4caf50;
  color: white;
}

.react-calendar__tile.streak-day:hover {
  background-color: #45a049;
}